
.product-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  display: flex;
  /* unicode-bidi: normal; */
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  box-sizing: border-box;

}

.product-card:hover {
  transform: translateY(-4px);
}

.product-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product-title {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.product-price {
  color: #27ae60;
  font-weight: bold;
  margin-bottom: 0.75rem;
}


.add-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #2980b9;
}